.custom-gradient {
    background-color: #e0e0f5;
  }


.sid
{
    background-image: url("C:\\Users\\Siddharth\\Documents\\ReactTech\\React_Projects\\dashboard\\src\\Assets\\moonlight.jpg");
    background-repeat: no-repeat;
    background-size: 1600px 850px;
}